<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <div class=logo>
          <img src="../assets/icon/logo.png" alt="logo">
        </div>

        <form>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button class="btn-login" expand="full" color="primary" disabled="false" (click)="login()">Login</ion-button>
        </form>

        <div class="btn-reset-pwd"><a routerLink="/reset-password" routerDirection="forward">Forgot Password?</a></div>

        <ion-button class="btn-signup" expand="full" color="secondary" routerLink="/signup" routerDirection="forward">Sign
          Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>